@model CFLibrary.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImgUrl)" class="w-25" />
        </dt>
        <dd class="col-sm-2">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
    <div class="d-flex justify-content-between w-50">
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
        <form asp-action="Borrow" asp-controller="Books">
            <input type="hidden" value="@TempData["BookId"]" asp-for="BookId" />
            <button class="btn btn-outline-success" type="submit">Borrow book</button>
        </form>
    </div>
    @*<a asp-action="Delete" asp-route-id="@TempData[BookId]">Delete</a>*@
</div>

