@model IEnumerable<CFLibrary.Models.Book>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between">
    <h1 class="w-25 float-left">Index</h1>

    <form asp-action="Search" asp-controller="Books">
        <input class="rounded" type="search" name="searchTerm" placeholder="Search..."/>
    </form>

    <form asp-action="Sort" asp-controller="Books">
        <label>Sort: </label>
        <select name="sortTerm">
            <option value="">None</option>
            @foreach (var category in Model)
            {
                <option value="@Html.DisplayFor(modelItem => category.Category.CategoryName)">@Html.DisplayFor(modelItem => category.Category.CategoryName)</option>
            }
        </select>
    </form>

    @if (Context.Session.GetInt32("UserId") != null)
    {
        <div class="w-25">
            Welcome @Context.Session.GetString("Username")
        </div>
    }


    <p>
        <a asp-action="Create" class="float-right">Create New</a>
    </p>
</div>


<div class="container d-flex flex-wrap">
    @foreach (var book in Model)
    {
        <div class="card w-25">
            <div class="card-header">
                <div class="text-center">
                    <h3>
                        @Html.DisplayFor(modelItem => book.Title)
                    </h3>

                </div>
                <div class="text-center">
                    By: @Html.DisplayFor(modelItem => book.Author.FirstName) @Html.DisplayFor(modelItem => book.Author.LastName)
                </div>

            </div>
            <div class="card-body">
                <div class="card-img">
                    <img class="w-100" src="@Html.DisplayFor(modelItem => book.ImgUrl)" />
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@book.BookId">View</a>
            </div>



        </div>
    }






</div>
